flows.json
[
    {
        "id": "14e208e9bb5420e1",
        "type": "tab",
        "label": "ENTRYPOINT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f498656cd7178fd2",
        "type": "tab",
        "label": "OPENSTACK",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "269f4dbfe5402677",
        "type": "subflow",
        "name": "Openstack Auth",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 280,
                "y": 140,
                "wires": [
                    {
                        "id": "de5bd1cbb3e4fc62"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 880,
                "y": 140,
                "wires": [
                    {
                        "id": "e9e7b399742eb8ca",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "f26f92b9561d3735",
        "type": "subflow",
        "name": "valide json schema",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "d47107e0cdcb46be"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1260,
                "y": 100,
                "wires": [
                    {
                        "id": "fa6f862ce5995b04",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1260,
                "y": 220,
                "wires": [
                    {
                        "id": "6c4196a5da9e173c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "de5bd1cbb3e4fc62",
        "type": "change",
        "z": "269f4dbfe5402677",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "template",
                "pt": "msg",
                "to": "OVHtemplate",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"auth\": {\t       \"identity\": {\t           \"methods\": [ \"password\" ],\t           \"password\": {\t               \"user\": {\t                   \"name\": msg.createvm.provider.username,\t                   \"domain\": {\t                       \"id\": \"default\"                    \t                   },\t                   \"password\": msg.createvm.provider.password               \t               }            \t           }        \t       },\t       \"scope\": {\t           \"project\": {\t               \"name\": msg.createvm.provider.project,\t               \"domain\": {\t                   \"id\": \"default\"                \t               }            \t           }        \t       }    \t   }\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://auth.\" & msg.createvm.provider.url & \"/v3/auth/tokens?nocatalog\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "POST",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "endpoints",
                "pt": "global",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 140,
        "wires": [
            [
                "e9e7b399742eb8ca"
            ]
        ]
    },
    {
        "id": "e9e7b399742eb8ca",
        "type": "http request",
        "z": "269f4dbfe5402677",
        "name": "Auth OPENSTACK",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "2d0de34508e101ba",
        "type": "file in",
        "z": "f26f92b9561d3735",
        "name": "Read spec file",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 420,
        "y": 100,
        "wires": [
            [
                "7611dbc00c886ab7"
            ]
        ]
    },
    {
        "id": "d47107e0cdcb46be",
        "type": "change",
        "z": "f26f92b9561d3735",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "input",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 100,
        "wires": [
            [
                "2d0de34508e101ba"
            ]
        ]
    },
    {
        "id": "1c606fd6ce95e09c",
        "type": "change",
        "z": "f26f92b9561d3735",
        "name": "Rechange var names",
        "rules": [
            {
                "t": "set",
                "p": "schema",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "input",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 100,
        "wires": [
            [
                "fa6f862ce5995b04"
            ]
        ]
    },
    {
        "id": "fa6f862ce5995b04",
        "type": "json",
        "z": "f26f92b9561d3735",
        "name": "Validate json",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1130,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "6c4196a5da9e173c",
        "type": "catch",
        "z": "f26f92b9561d3735",
        "name": "",
        "scope": [
            "fa6f862ce5995b04"
        ],
        "uncaught": false,
        "x": 1130,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "7611dbc00c886ab7",
        "type": "json",
        "z": "f26f92b9561d3735",
        "name": "Convert schema to object",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 100,
        "wires": [
            [
                "1c606fd6ce95e09c"
            ]
        ]
    },
    {
        "id": "18db3dc4cf3c44c8",
        "type": "http in",
        "z": "14e208e9bb5420e1",
        "name": "",
        "url": "/api/createvm",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "e61ca2e4fab6139e"
            ]
        ]
    },
    {
        "id": "c79a8db117061c80",
        "type": "switch",
        "z": "14e208e9bb5420e1",
        "name": "chose between state",
        "property": "payload.provider.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "openstack",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "aws",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vmware",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "nutanix",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1020,
        "y": 120,
        "wires": [
            [
                "7eaa2c1d4ab22015"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "7eaa2c1d4ab22015",
        "type": "link out",
        "z": "14e208e9bb5420e1",
        "name": "Openstack",
        "mode": "link",
        "links": [
            "3629f4e628f876ec"
        ],
        "x": 1195,
        "y": 100,
        "wires": []
    },
    {
        "id": "70e3b2b42e650339",
        "type": "change",
        "z": "14e208e9bb5420e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "createvm",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 120,
        "wires": [
            [
                "c79a8db117061c80"
            ]
        ]
    },
    {
        "id": "5a9ced60d397ae9f",
        "type": "subflow:f26f92b9561d3735",
        "z": "14e208e9bb5420e1",
        "name": "",
        "x": 550,
        "y": 120,
        "wires": [
            [
                "70e3b2b42e650339"
            ],
            [
                "735d6894b2c625e4"
            ]
        ]
    },
    {
        "id": "e61ca2e4fab6139e",
        "type": "change",
        "z": "14e208e9bb5420e1",
        "name": "Set filename",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "/data/schema/createvm-spec.json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "5a9ced60d397ae9f"
            ]
        ]
    },
    {
        "id": "d3b57f12cf115b2e",
        "type": "http response",
        "z": "14e208e9bb5420e1",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1070,
        "y": 240,
        "wires": []
    },
    {
        "id": "735d6894b2c625e4",
        "type": "change",
        "z": "14e208e9bb5420e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"msg\": \"Error while validating data\",\t    \"stack\": msg.error\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "400",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 240,
        "wires": [
            [
                "d3b57f12cf115b2e"
            ]
        ]
    },
    {
        "id": "c1e5d655037acf4d",
        "type": "switch",
        "z": "f498656cd7178fd2",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "300",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "44652a36518303bf"
            ],
            [
                "bbf0a2f68fa4555b"
            ]
        ]
    },
    {
        "id": "3629f4e628f876ec",
        "type": "link in",
        "z": "f498656cd7178fd2",
        "name": "Openstack Create VM",
        "links": [
            "7eaa2c1d4ab22015"
        ],
        "x": 95,
        "y": 240,
        "wires": [
            [
                "b4137feb09cdcef8"
            ]
        ]
    },
    {
        "id": "bbf0a2f68fa4555b",
        "type": "change",
        "z": "f498656cd7178fd2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "bearer",
                "pt": "msg",
                "to": "headers[\"x-subject-token\"]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers[\"X-Auth-Token\"]",
                "pt": "msg",
                "to": "bearer",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"https://compute.\" & msg.createvm.region & \".\" & msg.createvm.provider.url & \"/v2.1/\" & msg.createvm.provider.projectId & \"/servers\"",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "POST",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "requestTimeout",
                "pt": "msg",
                "to": "15000",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"server\":{\t       \"flavorRef\": msg.createvm.flavor,\t       \"name\": msg.createvm.name,\t       \"imageRef\": msg.createvm.image,\t       \"networks\":[\t           {\t               \"uuid\": msg.createvm.network\t           }\t       ]\t   }\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 260,
        "wires": [
            [
                "91868f37fe29da87"
            ]
        ]
    },
    {
        "id": "91868f37fe29da87",
        "type": "http request",
        "z": "f498656cd7178fd2",
        "name": "Create OPENSTACK",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 920,
        "y": 260,
        "wires": [
            [
                "cac3c2207ec1f1d9"
            ]
        ]
    },
    {
        "id": "b4137feb09cdcef8",
        "type": "subflow:269f4dbfe5402677",
        "z": "f498656cd7178fd2",
        "name": "",
        "x": 260,
        "y": 240,
        "wires": [
            [
                "c1e5d655037acf4d"
            ]
        ]
    },
    {
        "id": "cac3c2207ec1f1d9",
        "type": "http response",
        "z": "f498656cd7178fd2",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1110,
        "y": 260,
        "wires": []
    },
    {
        "id": "44652a36518303bf",
        "type": "change",
        "z": "f498656cd7178fd2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"status\": 401,\t    \"error\": \"Unauthorized\",\t    \"message\": \"Error while authenticating against \" & msg.createvm.provider.name\t\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "401",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 180,
        "wires": [
            [
                "f76d048873323b7e"
            ]
        ]
    },
    {
        "id": "f76d048873323b7e",
        "type": "http response",
        "z": "f498656cd7178fd2",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 180,
        "wires": []
    }
]