flows.json
[
    {
        "id": "f26f92b9561d3735",
        "type": "subflow",
        "name": "valide json schema",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "d47107e0cdcb46be"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1260,
                "y": 100,
                "wires": [
                    {
                        "id": "fa6f862ce5995b04",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1260,
                "y": 220,
                "wires": [
                    {
                        "id": "6c4196a5da9e173c",
                        "port": 0
                    },
                    {
                        "id": "dadb49d4dd54c930",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "2d0de34508e101ba",
        "type": "file in",
        "z": "f26f92b9561d3735",
        "name": "Read spec file",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 420,
        "y": 100,
        "wires": [
            [
                "7611dbc00c886ab7"
            ]
        ]
    },
    {
        "id": "d47107e0cdcb46be",
        "type": "change",
        "z": "f26f92b9561d3735",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "input",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 100,
        "wires": [
            [
                "2d0de34508e101ba"
            ]
        ]
    },
    {
        "id": "1c606fd6ce95e09c",
        "type": "change",
        "z": "f26f92b9561d3735",
        "name": "Rechange var names",
        "rules": [
            {
                "t": "set",
                "p": "schema",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "input",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 100,
        "wires": [
            [
                "fa6f862ce5995b04"
            ]
        ]
    },
    {
        "id": "fa6f862ce5995b04",
        "type": "json",
        "z": "f26f92b9561d3735",
        "name": "Validate json",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1130,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "6c4196a5da9e173c",
        "type": "catch",
        "z": "f26f92b9561d3735",
        "name": "",
        "scope": [
            "fa6f862ce5995b04"
        ],
        "uncaught": false,
        "x": 850,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "7611dbc00c886ab7",
        "type": "json",
        "z": "f26f92b9561d3735",
        "name": "Convert schema to object",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 100,
        "wires": [
            [
                "1c606fd6ce95e09c"
            ]
        ]
    },
    {
        "id": "dadb49d4dd54c930",
        "type": "catch",
        "z": "f26f92b9561d3735",
        "name": "",
        "scope": [
            "2d0de34508e101ba"
        ],
        "uncaught": false,
        "x": 850,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "14e208e9bb5420e1",
        "type": "tab",
        "label": "ENTRYPOINT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "18db3dc4cf3c44c8",
        "type": "http in",
        "z": "14e208e9bb5420e1",
        "name": "",
        "url": "/api/createvm",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "e61ca2e4fab6139e"
            ]
        ]
    },
    {
        "id": "c79a8db117061c80",
        "type": "switch",
        "z": "14e208e9bb5420e1",
        "name": "chose between state",
        "property": "payload.provider.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "openstack",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "aws",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vmware",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "nutanix",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1020,
        "y": 120,
        "wires": [
            [
                "7eaa2c1d4ab22015"
            ],
            [],
            [],
            []
        ]
    },
    {
        "id": "7eaa2c1d4ab22015",
        "type": "link out",
        "z": "14e208e9bb5420e1",
        "name": "Openstack",
        "mode": "link",
        "links": [
            "3629f4e628f876ec"
        ],
        "x": 1215,
        "y": 100,
        "wires": []
    },
    {
        "id": "70e3b2b42e650339",
        "type": "change",
        "z": "14e208e9bb5420e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "createvm",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 120,
        "wires": [
            [
                "c79a8db117061c80"
            ]
        ]
    },
    {
        "id": "5a9ced60d397ae9f",
        "type": "subflow:f26f92b9561d3735",
        "z": "14e208e9bb5420e1",
        "name": "",
        "x": 550,
        "y": 120,
        "wires": [
            [
                "70e3b2b42e650339"
            ],
            [
                "735d6894b2c625e4"
            ]
        ]
    },
    {
        "id": "e61ca2e4fab6139e",
        "type": "change",
        "z": "14e208e9bb5420e1",
        "name": "Set filename",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "/data/schema/createvm-spec.json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 120,
        "wires": [
            [
                "5a9ced60d397ae9f"
            ]
        ]
    },
    {
        "id": "d3b57f12cf115b2e",
        "type": "http response",
        "z": "14e208e9bb5420e1",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1070,
        "y": 240,
        "wires": []
    },
    {
        "id": "735d6894b2c625e4",
        "type": "change",
        "z": "14e208e9bb5420e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"msg\": \"Error while validating data\",\t    \"stack\": msg.error\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "400",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 240,
        "wires": [
            [
                "d3b57f12cf115b2e"
            ]
        ]
    }
]